{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login</title>

  <!-- Custom fonts for this template-->
  <link href={% static "QuickRow/atendente/vendor/fontawesome-free/css/all.min.css"%} rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href={% static "quickrow/atendente/css/sb-admin.css" %} rel="stylesheet">

</head>

<body class="bg-primary">
  <div align="center">
    <img src={% static "QuickRow/atendente/logo-01.png" %} width="300">
  </div>
  <div class="container">
    <div class="card card-login mx-auto">
      
      <div class="card-body">
       
        <a class="btn btn-primary btn-lg btn-block bg-info" href="login_atendente" role="button">Atendente</a>
        <a class="btn btn-secondary btn-lg btn-block bg-success" href="login_gerente" role="button">Gerente</a>

       
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript-->
  <script src={% static "quickrow/atendente/vendor/jquery/jquery.min.js" %}></script>
  <script src={% static "quickrow/atendente/vendor/bootstrap/js/bootstrap.bundle.min.js"%}></script>

  <!-- Core plugin JavaScript-->
  <script src={% static "quickrow/atendente/vendor/jquery-easing/jquery.easing.min.js" %}></script>

</body>

</html>
